.DailyGoalsMain.desk{
    width: 370px;
    height: 600px;
    position: relative;
}
.DailyGoalsMain.mobile{
    width: 100%;
    height:100%;
    position: relative;
}
.DailyGoalsMain .emptyWidgetAdd{
    height: 100%;
}
.DailyGoalsMain .emptyWidgetAdd button{
    cursor: pointer;
    padding: 10px;
    background: var(--base_color);
    outline: none;
    border: none;
    color: wheat;
    border-radius: 10px;
}
.DailyGoalsMain .addNewGoal{
    position: absolute;
    top: 0;
    right: 0;
    width:100%;
    height:100%;
    background-color: azure;
    transform: translateX(100%);
    transition: 0.3s;
    padding: 10px;
}
.DailyGoalsMain.add .addNewGoal{
    transform: translateX(0);
}