.log{
    position: relative;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    overflow: hidden;
}
.page_content {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  pointer-events: none;
}

.page_content.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.log .main{
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px rgb(0,0,0,0.1);
    width:calc(100vw - 20px);
    max-width: 950px;
    max-height: calc(100dvh - 40px);
    border-radius: 10px;
    padding: 20px 25px;
    overflow-x: hidden;
    overflow-y: auto;
}
.log .main::-webkit-scrollbar{
    width: 5px;
}
.log .main::-webkit-scrollbar-track {
    background: white; 
    border-radius: 6px;
}
.log .main::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #6a5acd, #00bfff);
    border-radius: 6px;
}
.log h1{
    font-family: "Slackey";
    font-weight: 300;
    letter-spacing: 2px;
    color:var(--base_color);
    margin: 10px 0;
    font-size: 3em;
}
.log h1 span{
    font-family: "Slackey";
}
.log .description{
    font-size: 14px;
    opacity: 0.6;
}
.log .logs{
    margin:20px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
}

.log .logs form{
    margin-bottom: 20px;
}
.log .logs form h3{
    margin:10px 0 20px 0;
}
.log .logs form .input_box{
    margin: 25px 0;
    position: relative;
    border: 1px solid rgb(0, 0, 0, 0.40);
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    transition: 0.3s ease;
}
.log .logs form .input_box:focus-within {
  border: 1px solid rgb(4, 55, 165);
}
.log .logs form .input_box:focus-within label {
  color: rgb(4, 55, 165);
}
.log .logs form .input_box label {
    display: block;
    position: absolute;
    background-color: white;
    top: 0;
    left: 10px;
    font-size: 13px;
    transform: translateY(-50%);
    padding: 0px 10px 0px 5px;
    transition: color 0.3s ease;
}
.log .logs form .input_box input{
    outline: none;
    border: none;
    padding: 5px 10px 10px 5px;
    width: 250px;
}
.log .logs form .input_box input:focus{
    caret-color: var(--base_color);
}
.log .logs form .input_box img{
    width: 25px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    display: none;
    bottom: 7px;
    right: 5px;
}
.log .logs form .input_box.show img.eye_hide{
    display: block;
}
.log .logs form .input_box.show img.eye_show{
    display: none;
}
.log .logs form .input_box.hide img.eye_hide{
    display: none;
}
.log .logs form .input_box.hide img.eye_show{
    display: block;
}
.log .logs form .submit{
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    background-color: var(--base_color);
    border-radius: 10px;
    font-size: 14px;
    color: white;
}
.log .logs form p{
    margin-top: 30px;
    font-size: 14px;
}
.log .logs form p span{
    color: var(--base_color);
    cursor: pointer;
}
.log .logs form .btns button{
    margin: 0 10px;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    color: var(--base_color);
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    border:1px solid var(--base_color);
}
.log .img{
    width: 350px;
    max-width: calc(100vw - 60px);
    border-left: 1px dashed rgb(0,0,0,0.1);
}
.log .main .loading{
    position: absolute;
    display: none;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.log .main.loading .loading{
    display: flex;
}

.Loading_btn{
    background-color: var(--base_color);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 7px;
    width: 120px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Loading_btn img{
    height: 20px;
    animation: cricle_load 2s linear infinite;
}
@keyframes cricle_load {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes cricle_load {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
@media (max-width:710px) {
    .log .logs{
        flex-direction: column;
    }
    .log .img{
        border: none;
    }
}