.MobileHome{
    width:100vw;
    height:100dvh;
    overflow: hidden;
}
.MobileHome .DesktopNav.mobile{
    right: 0;
    transform: translateX(100%);
    box-shadow: 0px 0 0px rgb(0,0,0,0);
    transition: 0.5s;
}
.MobileHome.active .DesktopNav.mobile{
    box-shadow: -10px 0 10px rgb(0,0,0,0.05);
    transform: translateX(0%);
}
.MobileHome .menuBtn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 980;    
    width: 45px;
    height: 45px;
    background-color: var(--base_color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.MobileHome.active .menuBtn{
    transform: translateX(-250px);
}
.MobileHome .HomeMenuIcon{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    transform: scale(0.9)
}
.MobileHome .HomeMenuIcon::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 6px;
    background: white;
    opacity: 1;
    left:0px;
    transition: 0.3s;
}