.MobileHome{
    width:100vw;
    height:100dvh;
    overflow: hidden;
}
.MobileHome .DesktopNav.mobile{
    right: 0;
    transform: translateX(100%);
    box-shadow: 0px 0 0px rgb(0,0,0,0);
    transition: 0.5s;
    overflow: visible;
}
.MobileHome.active .DesktopNav.mobile{
    box-shadow: -10px 0 10px rgb(0,0,0,0.05);
    transform: translateX(0%);
}
.MobileHome .menuBtn{
    position: fixed;
    bottom: 3px;
    right: 0px;
    cursor: pointer;
    z-index: 980;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: white;
}
.MobileHome .HomeMenuIcon{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    transform: scale(0.9)
}
.MobileHome .HomeMenuIcon::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 6px;
    background: black;
    opacity: 1;
    left:0px;
    transition: 0.3s;
}
.MobileHome .MenuBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    overflow: hidden;
    overflow-x: auto;
    background-color: white;
    box-shadow: 0 -10px 20px rgb(0,0,0,0.02);
}
.MobileHome .MenuBar::-webkit-scrollbar{
    height: 0px;
}
.MobileHome .MenuBar::-webkit-scrollbar-track {
    background: white; 
    border-radius: 6px;
}
.MobileHome .MenuBar::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #6a5acd, #00bfff);
    border-radius: 6px;
}
.MobileHome .MenuBar ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    list-style:none;
    height: 50px;
}
.MobileHome .MenuBar ul::after {
    content: "";
    display: block;   /* make it a flex child */
    width: 70px;     /* reserve 100px space */
    height: 1px;      /* minimal height so it renders */
    flex-shrink: 0; 
}
.MobileHome .MenuBar ul li{
    white-space: nowrap;   /* keeps text on one line */
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    flex: 0 0 auto;        /* prevents shrinking, allows auto width */
    overflow: visible;     /* let content show fully */
    text-overflow: unset;
}
.MobileHome .sideClose{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    cursor: pointer;
}
.MobileHome.active .sideClose{
    display: flex;
}