.MobileHome{
    width:100vw;
    height:100dvh;
    overflow: hidden;
    padding:70px 0px 10px 0px;
    background-color: white;
}
.MobileHome .DesktopNav.mobile{
    right: 0;
    transform: translateX(100%);
    box-shadow: 0px 0 0px rgb(0,0,0,0);
    transition: 0.5s;
    overflow: visible;
}
.MobileHome.active .DesktopNav.mobile{
    box-shadow: -10px 0 10px rgb(0,0,0,0.05);
    transform: translateX(0%);
}
.MobileHome .menuBtn{
    position: fixed;
    top: 8px;
    right: 0px;
    cursor: pointer;
    z-index: 980;
    width: 60px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: white;
}
.MobileHome .HomeMenuIcon{
    width: 25px;
    height: 25px;
    border: 1px solid var(--base_color);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.MobileHome .HomeMenuIcon::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 8px;
    background: var(--base_color);
    opacity: 1;
    right:0px;
    transition: 0.3s;
}
.MobileHome .MenuBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.MobileHome .sideClose{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    cursor: pointer;
}
.MobileHome.active .sideClose{
    display: flex;
}
.MobileHome .mobile select{
    margin: 10px 0 20px 0;
    padding: 10px 5px;
    outline: none;
    border: 2px solid var(--base_color);
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}
.MobileHome .MenuBar select{
    outline: none;
    border: none;
    font-family: "Englebert";
    font-weight: 800;
    color:var(--base_color);
    font-size: 1.8em;
    margin: 0 10px;
    cursor: pointer;
    letter-spacing: 1px;
    background: none;
}
.MobileHome .MenuBar select option{
    font-family:"Roboto";
    color: black;
    font-size: 15px;
}